mat-card {
  display: flex;
  background: rgba(255, 255, 255, 0.062);
  justify-content: center;
  align-items: center;
  color: #c125ff;
  height: 3rem;
  border: 1px solid #4559ff;

}
.outerBox{
  height: 405px;
  border: 2px solid #4559ff;
}
.innerBox {
  border-top: 1px solid #4559ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#1426bb;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 45px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.innerItem {
  margin: 1rem;

}

